

th{
    
    font-family: "Arial" ;
    font-size: 15pX;
     color: #00008B
}

td{
    
    font-family:"Arial";
    font-size: 14pX;
   }

h1{
    font-family: "Arial Black" ;
    font-size: 28pX;
     color: #00008B

}

h3{
   font-family: "Arial Black" ;
    font-size: 16pX;
     color: #660000;
    
}
table{
    width: 100%;
    border: 0;

}


div {
    font-family:"Arial Black" ;
    font-size: 14PX;
}


#logoutButton{
    position:fixed;
    left:10px;
    top:5px;

    cursor:pointer;
    background-color:#660000;
    color:white;
    font-weight:bold;
    height:25px;
    border:0px;
    font-size: 12px
}

#uploadFileButton{
    cursor:pointer;
    background-color:#660000;
    color:white;
    font-weight:bold;
    height:25px;
    border:0px;
    font-size: 12px


}

#uploadFileButton:enabled {
    background: #660000;
}

#uploadFileButton:disabled {
    background: #dddddd;
}

