p{

    text-align: center;
    font-family:"Arial Black";
    color:black;
    font-size: 12px;

}

td{

    font-family:"Arial Black";
    color:black;
    font-size: 17px;


}

li{

    text-align: left;
    font-family: arial;
    color:black;
    font-size: 15px;


}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width:140px;
    height:200px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border: 15px solid black;
    border-image: url("../../common/images/cards-poker-border.jpg")12% round;



}

h1{
    font-size: 28px;
    color: black;
    font-family: arial black;
    text-align: center;

}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
.main {
    width: 380px;
}

.table {
    background-color: green;
    top: 50%;
    height: 140px;
    width: 350px;
    border-radius: 50%;
    margin: 0 auto;
    border: 1em solid black;
}

.board {
    position: relative;
    top: 22%;
    left: 10%;
}
.card-small {
    border: .2em solid black;
    border-radius: 10%;
    height: 78px;
    width: 45px; /*70% of height*/
    margin-right: 5px;
    float: left;
    background-color: white;
}

.card-text {
    margin: 0;
    margin-top: 15%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
}

.card-img {
    text-align: center;
    margin: 0;
    font-size: 2em;
}

.red {
    color: red;
}

.black {
    color: black;
}
button {
    cursor:pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 6px 14px;
    border: 3px solid #465c2e;
    border-radius: 9px;
    background: #83ad56;
    background: -webkit-gradient(linear, left top, left bottom, from(#83ad56), to(#465c2e));
    background: -moz-linear-gradient(top, #83ad56, #465c2e);
    background: linear-gradient(to bottom, #83ad56, #465c2e);
    -webkit-box-shadow: #9dd067 0px 0px 31px 2px;
    -moz-box-shadow: #9dd067 0px 0px 31px 2px;
    box-shadow: #9dd067 0px 0px 31px 2px;
    text-shadow: #29361b 1px 1px 1px;
    font: normal normal bold 15px trebuchet ms;
    color: #ffffff;
    text-decoration: none;
}

.button:focus {
    border: 3px solid #526c36;
    background: #9dd067;
    background: -webkit-gradient(linear, left top, left bottom, from(#9dd067), to(#546e37));
    background: -moz-linear-gradient(top, #9dd067, #546e37);
    background: linear-gradient(to bottom, #9dd067, #546e37);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #465c2e;
    background: -webkit-gradient(linear, left top, left bottom, from(#465c2e), to(#465c2e));
    background: -moz-linear-gradient(top, #465c2e, #465c2e);
    background: linear-gradient(to bottom, #465c2e, #465c2e);
}
.button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;

}



body{

    background-image: url("../../common/images/roomBackground (4).jpg");
    background-size:100%;
}

h2{

    font-size: 22px;
    color: black;
    font-family: arial black;



}