p{

    text-align: center;
    font-family:"Arial Black";
    color:black;
    font-size: 12px;

}

td{

    font-family:"Arial";
    color:black;
    font-size: 17px;


}

li{

    text-align: left;
    font-family: arial;
    color:black;
    font-size: 15px;


}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width:140px;
    height:200px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border: 15px solid black;
    border-image: url("../../common/images/cards-poker-border.jpg")12% round;


}

h1{
    font-size: 28px;
    color: black;
    font-family: arial black;
    text-align: center;

}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
.main {
    width: 380px;
}

.table {
    background-color: green;
    top: 50%;
    height: 150px;
    width: 355px;
    border-radius: 50%;
    margin: 0 auto;
    border: 1em solid black;
}

.board {
    position: relative;
    top: 20%;
    left: 10%;
}
.card-small {
    border: .2em solid black;
    border-radius: 10%;
    height: 78px;
    width: 45px; /*70% of height*/
    margin-right: 5px;
    float: left;
    background-color: white;
}

.card-text {
    margin: 0;
    margin-top: 15%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
}

.card-img {
    text-align: center;
    margin: 0;
    font-size: 2em;
}

.red {
    color: red;
}

.black {
    color: black;
}


#leaveButton {
    position: fixed;
    left: 10px;
    top: 5px;
}

button:disabled {
    background: #dddddd;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor:default;
}


button {
    border: 1px solid #465c2e;
    background-color: #83ad56;
    color: #ffffff;
    padding: 5px 10px;
    cursor:pointer;

    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font: normal normal bold 15px trebuchet ms;
    color: #ffffff;
}

#myCard{

    animation-timing-function: linear;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}


body{

    background-image: url("../../common/images/roomBackground (4).jpg");
    background-size:100%;
}

h2{

    font-size: 22px;
    color: black;
    font-family: arial black;
}

h3{

    font-size: 15px;
    color: black;
    font-family: arial black;
}
